@media screen and (max-width: 1800px) {
    /*GLOBAL START*/
    body {
        overflow-x: hidden;
        overflow: hidden;
    }
    
    .container {
        width: 1400px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 30px;
    }
    

    /*HEADER START*/

    .nav-panel ul {
        margin-left: auto;
        max-width: 1400px;
    }


    .soldier-img {
        position: absolute;
        width: 1155;
        height: 794;
        z-index: -1;
        /*left: 730px;*/
        right: -250px;
        top: 160px;
        object-fit: cover;
    }

}


@media screen and (max-width: 1580px) {
    /*GLOBAL START*/

    .container {
        width: 1200px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }
    

    /*HEADER START*/
    .nav-panel ul {
        margin-left: auto;
        max-width: 1200px;
    }


    .soldier-img {
        position: absolute;
        z-index: -1;
        right: -250px;
        top: 250px;
        object-fit: cover;
    }
    .soldier-img img {
        height: 800px;
    }


    .block-1 {
        color: rgba(160, 160, 160);
        font-size: 40px;
        letter-spacing: 0px;
        padding: 68px 0px 0 0;
        line-height: 0.9;
    }
    .block-2 {
        color: #fff;
        font-size: 150px;
        letter-spacing: -1%;
        margin-left: -160px;
    }
    .block-3 {
        color: rgb(222, 222, 222);
        font-size: 75px;
        grid-column: span 2;
        margin-top: -30px;
        line-height: 0.9;
    }



    /*GALLERY START*/
    .section .container {
        width: 1400px;
        max-width: 1400px;
    }

}


@media screen and (max-width: 1300px) {
    /*GLOBAL START*/
    .container {
        width: 900px;
        max-width: 900px;
        margin: 0 auto;
        padding: 0 30px;
    }
    
    /*HEADER START*/
    .nav-panel ul {
        margin-left: auto;
        max-width: 1200px;
    }
    .soldier-img {
        position: absolute;
        z-index: -1;
        right: -300px;
        top: 350px;
        object-fit: cover;
    }
    .soldier-img img {
        height: 700px;
    }
    .deathstar-img {
        position: absolute;
        left: -60px;
        top: 0;
        z-index: -3;
    }
    .deathstar-img img {
        height: 1000px;
    }
    .starship-img {
        position: absolute;
        left: -200px;
        top: 530px;
        z-index: -2;
    }
    .block-1 {
        color: rgba(160, 160, 160);
        font-size: 40px;
        letter-spacing: 0px;
        padding: 68px 0px 0 0;
        line-height: 0.9;
    }
    .block-2 {
        color: #fff;
        font-size: 150px;
        letter-spacing: -1%;
        margin-left: -160px;
    }
    .block-3 {
        color: rgb(222, 222, 222);
        font-size: 75px;
        grid-column: span 2;
        margin-top: -30px;
        line-height: 0.9;
    }



    /*GALLERY START*/
    .section .container {
        width: 1000px;
        max-width: 1100px;
    }
    .gallery > :nth-last-child(-n+2) {
        display: none;
    }
    .gallery > :nth-last-child(-n+5) {
        margin-top: 15px;
    }



    /*FOOTER*/
    .footer-links {
        display: none;
    }
    .footer-logos {
        display: flex;
        width: 900px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

}


@media screen and (max-width: 1100px) {
    /*GLOBAL START*/
    .container {
        width: 800px;
        margin: 0 auto;
        padding: 0 30px;
    }
    
    /*HEADER START*/
    .nav-panel ul {
        margin-left: auto;
        max-width: 1200px;
    }
    .soldier-img {
        position: absolute;
        z-index: -1;
        right: -300px;
        top: 350px;
        object-fit: cover;
    }
    .soldier-img img {
        height: 700px;
    }
    .deathstar-img {
        position: absolute;
        left: -60px;
        top: 0;
        z-index: -3;
    }
    .deathstar-img img {
        height: 1000px;
        position: absolute;
        left: -100px;
        z-index: -2;
    }
    .starship-img {
        position: absolute;
        left: -250px;
        top: 530px;
        z-index: -2;
    }
    .block-1 {
        color: rgba(160, 160, 160);
        font-size: 40px;
        letter-spacing: 0px;
        padding: 68px 0px 0 0;
        line-height: 0.9;
    }
    .block-2 {
        color: #fff;
        font-size: 150px;
        letter-spacing: -1%;
        margin-left: -160px;
    }
    .block-3 {
        color: rgb(222, 222, 222);
        font-size: 75px;
        grid-column: span 2;
        margin-top: -30px;
        line-height: 0.9;
    }



    /*GALLERY START*/
    .section .container {
        width: 80vh;
    }
    .gallery > :nth-last-child(-n+2) {
        display: none;
    }

    .gallery .card {
        margin-top: 30px;
    }



    /*FOOTER*/
    .footer-links {
        display: none;
    }
    .footer-logos {
        display: flex;
        width: 90vh;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

}

@media screen and (max-width: 900px) {
    /*GLOBAL START*/
    .container {
        width: 800px;
        margin: 0 auto;
        padding: 0 30px;
    }
    
    /*HEADER START*/
    .nav-panel ul {
        margin-left: auto;
        max-width: 1200px;
    }
    .soldier-img {
        position: absolute;
        z-index: -1;
        right: -300px;
        top: 350px;
        object-fit: cover;
    }
    .soldier-img img {
        height: 700px;
    }
    .deathstar-img {
        position: absolute;
        left: -60px;
        top: 0;
        z-index: -3;
    }
    .deathstar-img img {
        height: 1000px;
        position: absolute;
        left: -200px;
        z-index: -3;
    }
    .starship-img {
        position: absolute;
        left: -250px;
        top: 530px;
        z-index: -2;
    }
    .block-1 {
        color: rgba(160, 160, 160);
        font-size: 40px;
        letter-spacing: 0px;
        padding: 68px 0px 0 0;
        line-height: 0.9;
    }
    .block-2 {
        color: #fff;
        font-size: 150px;
        letter-spacing: -1%;
        margin-left: -160px;
    }
    .block-3 {
        color: rgb(222, 222, 222);
        font-size: 75px;
        grid-column: span 2;
        margin-top: -30px;
        line-height: 0.9;
    }



    /*GALLERY START*/
    .section .container {
        width: 80vh;
    }
    .gallery > :nth-last-child(-n+2) {
        display: none;
    }

    .gallery .card {
        margin-top: 30px;
    }



    /*FOOTER*/
    .footer .container {
        padding-bottom: 10px;
    }
    .footer-links {
        display: none;
    }
    .footer-logos {
        width: 90vh;
        display: grid;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .footer-logos li:not(:last-child) {
        margin-right: 0px;
    }
    .footer-logos li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .footer-logos li a {
        margin: 0 auto;
    }

    .footer-logos li:nth-child(2) {
        order: 1; 
    }

}


@media screen and (max-width: 450px) {
    /*GLOBAL START*/
    .container {
        margin: 0 auto;
        padding: 0 30px;
    }
    
    /*HEADER START*/
    .header {
        width: 100vw;
        height: 100vh;
    }
    .header .container {
        max-width: calc(100vw - 60px);
        margin: 0 0;
        height: 100vh;
        
    }
    .nav-panel {
        display: block;
        max-width: 100vw;
        object-fit: cover;
    }
    .nav-panel a img {
        width: 150px;
    }
    .nav-panel ul {
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content: left;
    }
    .nav-panel ul li a {
        font-size: 20px;
        font-weight: 300;
    }
    .nav-panel ul li button {
        font-size: 20px;
        font-weight: 300;
    }
    .nav-panel ul li:nth-last-child(n+2) {
        padding-right: 27px;
    }
    .soldier-img {
        position: absolute;
        z-index: -1;
        right: -300px;
        top: 450px;
        object-fit: cover;
    }
    .soldier-img img {
        height: 500px;
    }
    .deathstar-img {
        position: absolute;
        left: -200px;
        top: -60px;
        z-index: -3;
    }
    .deathstar-img img {
        height: 1000px;
        position: absolute;
        left: -200px;
        z-index: -3;
    }
    .starship-img {
        position: absolute;
        left: -200px;
        top: 440px;
        z-index: -2;
    }
    .starship-img img {
        width: 500px;
    }
    .main-text-grid {
        width: 100%;
    }
    .block-1 {
        color: rgba(160, 160, 160);
        font-size: 20px;
        letter-spacing: 0px;
        padding: 34px 0px 0 0;
        line-height: 0.9;
        font-weight: 900;
        margin-right: 70px;
        max-width: 50px;
        position: absolute;
        left: 30px;
        top: 190px;
    }
    .block-2 {
        color: #fff;
        font-size: 70px;
        letter-spacing: -1%;
        max-width: 250px;

        position: absolute;
        left: 230px;
        top: 190px;

    }
    .block-3 {
        color: rgb(222, 222, 222);
        font-size: 40px;
        grid-column: span 2;
        margin-top: -10px;
        line-height: 0.9;
        font-weight: 00;
        max-width: 500px;
        margin-top: 70px;
    }
    .main-text {
        width: 100vw;
        height: 0;
        margin-top: 60px;
    }
    .header-buttons {
        margin-top: 200px;
        width: 100vw;
        display: flex;
    }
    .header-buttons button,
    .header-buttons a {
        font-size: 15px;
    }



    /*GALLERY START*/
    .section {
        width: 100vw;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .section .container {
        width: 100vw;
        margin-top: 0px;
        padding-left: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

    }
    

    .gallery > :nth-last-child(-n+4) {
        display: none;
    }
    .gallery .card {
        margin-top: 30px;
    }



    /*FOOTER*/
    .footer .container {
        max-width: calc(100vw - 60px);
        padding-bottom: 10px;
        min-height: 420px;
    }
    .footer-links {
        display: none;
    }
    .footer-logos {
        max-width: calc(100vw - 60px);
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .footer-logos li:not(:last-child) {
        margin-right: 0px;
    }
    .footer-logos li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .footer-logos li a {
        margin: 0 auto;
    }

    .footer-logos li:nth-child(2) {
        order: 0; 
    }
    .footer-logos li:nth-child(4) {
        order: 4; 
    }

}

@media screen and (max-width: 320px) {
    /*GLOBAL START*/
    .container {
        margin: 0 auto;
        padding: 0 20px;
    }
    
    /*HEADER START*/
    .header {
        width: 100vw;
        height: 100vh;
    }
    .header .container {
        margin: 0 0;
        height: 100vh;
        max-width: calc(100vw - 40px);
    }
    .nav-panel {
        display: block;
        max-width: 100vw;
        object-fit: cover;
    }
    .nav-panel a img {
        width: 150px;
    }
    .nav-panel ul {
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content: left;
    }
    .nav-panel ul li a {
        font-size: 15px;
        font-weight: 300;
    }
    .nav-panel ul li button {
        font-size: 15px;
        font-weight: 300;
    }
    .nav-panel ul li:nth-last-child(n+2) {
        padding-right: 21px;
    }
    .soldier-img {
        position: absolute;
        z-index: -1;
        right: -180px;
        top: 400px;
        object-fit: cover;
    }
    .soldier-img img {
        height: 300px;
    }
    .deathstar-img {
        position: absolute;
        left: -100px;
        top: -10px;
        z-index: -3;
    }
    .deathstar-img img {
        height: 600px;
        position: absolute;
        left: -100px;
        z-index: -3;
    }
    .starship-img {
        position: absolute;
        left: -100px;
        top: 410px;
        z-index: -2;
    }
    .starship-img img {
        width: 300px;
    }
    .main-text-grid {
        width: 100%;
    }
    .block-1 {
        color: rgba(160, 160, 160);
        font-size: 17px;
        letter-spacing: 0px;
        padding: 34px 0px 0 0;
        line-height: 0.9;
        font-weight: 900;
        margin-right: 70px;
        max-width: 50px;
        position: absolute;
        left: 20px;
        top: 170px;
    }
    .block-2 {
        color: #fff;
        font-size: 60px;
        letter-spacing: -1%;
        max-width: 250px;

        position: absolute;
        left: 220px;
        top: 175px;

    }
    .block-3 {
        color: rgb(222, 222, 222);
        font-size: 35px;
        grid-column: span 2;
        margin-top: -10px;
        line-height: 0.9;
        font-weight: 00;
        max-width: 500px;
        margin-top: 55px;
    }
    .main-text {
        width: 100vw;
        height: 0;
        margin-top: 60px;
    }
    .header-buttons {
        margin-top: 165px;
        width: 100vw;
        display: flex;
    }
    .header-buttons button,
    .header-buttons a {
        font-size: 15px;
        padding: 10px 20px;
    }
    .header-buttons button {
        border: 2px solid rgba(255, 255, 255, 0.7);
    }
    .second-button {
        color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        font-weight: 500;
        
    }


    /*GALLERY START*/
    .section {
        width: 100vw;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .section .container {
        width: 100vw;
        margin-top: 0px;
        padding-left: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

    }
    

    .gallery > :nth-last-child(-n+4) {
        display: none;
    }
    .gallery .card {
        margin-top: 30px;
    }



    /*FOOTER*/
    .footer .container {
        max-width: calc(100vw - 60px);
        padding-bottom: 10px;
        min-height: 420px;
    }
    .footer-links {
        display: none;
    }
    .footer-logos {
        max-width: calc(100vw - 60px);
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .footer-logos li:not(:last-child) {
        margin-right: 0px;
    }
    .footer-logos li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .footer-logos li a {
        margin: 0 auto;
    }

    .footer-logos li:nth-child(2) {
        order: 0; 
    }
    .footer-logos li:nth-child(4) {
        order: 4; 
    }

}

@media screen and (max-width: 375px) {
    /*GLOBAL START*/
    .container {
        margin: 0 auto;
        padding: 0 10px;
    }
    .header {
    }
    
    /*HEADER START*/
    .header {
        width: 100vw;
        height: 100vh;
    }
    .header .container {
        margin: 0 0;
        padding-top: 10px;
        height: 100vh;
        max-width: calc(100vw - 20px);
    }
    .nav-panel {
        display: block;
        max-width: 100vw;
        object-fit: cover;
    }
    .nav-panel a img {
        width: 100px;
    }
    .nav-panel ul {
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: left;
    }
    .nav-panel ul li a {
        font-size: 10px;
        font-weight: 300;
    }
    .nav-panel ul li button {
        font-size: 10px;
        font-weight: 300;
    }
    .nav-panel ul li:nth-last-child(n+2) {
        padding-right: 24px;
    }
    .soldier-img {
        position: absolute;
        z-index: -1;
        right: -180px;
        top: 400px;
        object-fit: cover;
        display: none;
    }
    .soldier-img img {
        height: 300px;
    }
    .deathstar-img {
        position: absolute;
        left: -100px;
        top: -10px;
        z-index: -3;
    }
    .deathstar-img img {
        height: 600px;
        position: absolute;
        left: -100px;
        z-index: -3;
    }
    .starship-img {
        position: absolute;
        left: -100px;
        top: 410px;
        z-index: -2;
        overflow: hidden;
        display: none;
    }
    .starship-img img {
        width: 300px;
    }
    .soldier-img img, .deathstar-img img, .starship-img img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .main-text-grid {
        width: 100%;
    }

    .block-1 {
        color: rgba(160, 160, 160);
        font-size: 10px;
        letter-spacing: 0px;
        padding: 0px 0px 0 0;
        line-height: 0.9;
        font-weight: 900;
        max-width: 50px;
        position: absolute;
        left: 10px;
        top: 120px;
    }
    .block-2 {
        color: #fff;
        font-size: 50px;
        letter-spacing: -1%;
        max-width: 250px;

        position: absolute;
        left: 195px;
        top: 90px;

    }
    .block-3 {
        color: rgb(222, 222, 222);
        font-size: 25px;
        grid-column: span 2;
        line-height: 0.9;
        font-weight: 00;
        max-width: 500px;
        margin-top: 2px;
    }
    .main-text {
        width: 100vw;
        height: 0;
        margin-top: 60px;
    }
    .header-buttons {
        margin-top: 100px;
        width: 100vw;
        display: flex;
    }
    .header-buttons button,
    .header-buttons a {
        font-size: 10px;
        padding: 10px 20px;
    }
    .header-buttons button {
        border: 1px solid rgba(255, 255, 255, 0.7);
    }
    .second-button {
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-weight: 500;
        
    }


    /*GALLERY START*/
    .section {
        width: 100vw;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .section .container {
        width: 100vw;
        margin-top: 0px;
        padding-left: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

    }
    .container h2 {
        font-size: 30px;
    }

    .gallery > :nth-last-child(-n+4) {
        display: none;
    }
    .gallery .card {
        margin-top: 30px;
    }



    /*FOOTER*/
    .footer .container {
        max-width: calc(100vw - 60px);
        padding-bottom: 10px;
        min-height: 420px;
    }
    .footer-links {
        display: none;
    }
    .footer-logos {
        max-width: calc(100vw - 60px);
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .footer-logos li:not(:last-child) {
        margin-right: 0px;
    }
    .footer-logos li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .footer-logos li a {
        margin: 0 auto;
    }

    .footer-logos li:nth-child(2) {
        order: 0; 
    }
    .footer-logos li:nth-child(4) {
        order: 4; 
    }

    body {
        overflow-x: hidden;
        overflow: hidden;
    }
}